@{
    ViewBag.Title = "Portfolio";
}
<h2>Portfólio</h2>
<p>São imagens refereciandas ao Leonardo</p>
@foreach (string arquivo in ViewBag.ImageUrlList)
{
    <img src="@arquivo" class="img-portfolio" />

}
<div class="clearfix"></div>
