<!DOCTYPE html>
<html>
    <marquee direction="up">
        <head>
            <title>Bruno</title>
        </head>
        <body>
            <h1>Exemplo web Page</h1>
            
            Data e Hora do Servidor: @DateTime.Now
        </body>
    </marquee>
</html>
